/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Font properties should be in the body section, not in the general selector*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/*----------------------------------
                HEADER
------------------------------------*/

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, #7ed56fd0, #28b485c4), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative; /*reference for logo-box*/

    /*Specify polygon for background image in (x,y) coordinates*/
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

/* LOGO */
.logo-box {
    position: absolute;
    top:40px;
    left: 40px;
}

.logo {
    height: 35px; /*width will be automatically calculated*/
}

/* HEADING */

/*Center the heading in the headers*/
.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    
}

.heading-primary-main {
    display: block; /*to create a line break*/
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}